<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Calcular</title>
</head>
    <body>
        <form action="/calcularComision" method="POST">
            <p>Ingrese el nombre</p>
            <p><input type="text", name="nombre"/></p>
            <p>Apellido</p>
            <p><input type="text", name="apellido"/></p>
            <p>Ventas anuales:</p>
            <p><input type="text", name="ventas"/></p>
            <p><input type="submit", name="boton", value="Calcular"/></p>
        </form>
    </body>
</html>